/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */

:root {
  --brand-color: #7ca2f4;
  --dark: #121214;
  --gray: #f3f7ff;
  --white: #fff;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  line-height: 1;

  color: var(--dark);
}

/*******************/
/* BANNER SECTION */
/*******************/

/* Banner layout */

.free-shipping-banner {
  height: 6.4rem;
  padding: 1.8rem 0;

  background-color: var(--gray);
}

/* Banner content styles */

.free-shipping-text {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
}

/****************/
/* HERO SECTION */
/****************/

/* Hero layout */

.section-hero {
  height: 40rem;

  padding: 9.4rem 101.1rem 9.5rem 35.2rem;

  background-image: url("/image/image-michael-jordan.png");
  background-size: cover;
  background-position: 50% 10.8%;
}

.hero {
  max-width: 55.7rem;
  height: 21.1rem;
}

/* Hero content styles */

.hero-logo-box {
  width: 20.3rem;
  height: 4.8rem;

  margin-bottom: 4rem;
}

.hero-text-box {
  width: 55.7rem;
  height: 12.3rem;

  color: var(--white);
}

.hero-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 34.82px;

  margin-bottom: 2rem;
}

.hero-description {
  font-size: 2rem;
  font-weight: 300;
  line-height: 32.6px;
}

/*********************/
/* MAIN GRID LAYOUT */
/*********************/

/* Main layout */

.main-content {
  width: 121.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 8rem 0;
}

/* Main text content styles */

.intro-text {
  width: 59.3rem;
  height: 12.7rem;

  text-align: center;

  margin-bottom: 7.2rem;
}

.intro-title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 34.82px;

  margin-bottom: 2.4rem;
}

.intro-description {
  font-size: 2.4rem;
  line-height: 33.6px;
}

/* Main grid items */

.products-grid {
  width: 121.6rem;
  height: 69.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  row-gap: 4rem;
}

.product-card {
  width: 38.4rem;
  height: 32.6rem;
}

.card-image-container {
  width: 38.4rem;
  height: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 2.4rem;

  background-color: #f3f7ff;
}

.card-image {
  width: 22.5rem;
  height: 13.5rem;
}

.card-name,
.card-category,
.card-price {
  font-weight: 500;
}

.card-name {
  font-size: 1.8rem;
  line-height: 23.4px;

  margin-bottom: 1.2rem;
}

.card-category {
  font-size: 1.6rem;
  line-height: 17.41px;

  margin-bottom: 2.4rem;

  color: var(--brand-color);
}

.card-price {
  font-size: 2rem;
  line-height: 24.52px;
}
