/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  --brand-color: #7ca2f4;
  --dark: #121214;
  --gray: #f3f7ff;
  --white: #ffffff;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  line-height: 1;
}

/* Banner */
.banner-free-shipping {
  height: 6.4rem;
  padding: 1.8rem;
  background-color: var(--gray);
}

.banner-free-shipping p {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.08;
}

/* Hero */
.section-hero {
  height: 40rem;
  padding: 9.4rem 35rem;
  background-image: url("/image/image-michael-jordan.png");
  background-size: cover;
}

.hero {
  max-width: 55rem;
  height: 20rem;
}

.hero-logo-box {
  margin-bottom: 4rem;
}

.hero-text-box {
  color: var(--white);
}

.hero-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.hero-description {
  font-size: 2.2rem;
  line-height: 34px;
}

/* Main Content */
.main-content {
  width: 120rem;
  margin: 0 auto;
  padding: 8rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text {
  width: 59rem;
  height: 12rem;

  text-align: center;

  margin-bottom: 7.2rem;
}

.intro-title {
  font-size: 3.2rem;
  font-weight: 600;

  margin-bottom: 2.4rem;
}

.intro-description {
  font-size: 2.4rem;
  line-height: 33.6px;
}

.products-grid {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  row-gap: 4rem;
}

.card-image-container {
  display: flex;
  justify-content: center;

  padding: 3.25rem 7.95rem;

  margin-bottom: 2.4rem;

  background-color: #f3f7ff;
}

.card-name {
  font-size: 1.8rem;
  font-weight: 500;

  margin-bottom: 1.2rem;
}

.card-category {
  font-size: 1.6rem;
  font-weight: 500;

  margin-bottom: 2.4rem;

  color: var(--brand-color);
}

.card-price {
  font-size: 2rem;
  font-weight: 500;
}
